.axis path, line {
   stroke: black;
}
.line {
   float: left;
}
.line_container {
   width: 150px;
   height: 20px;
}
path {
   fill: none;
}
.key {
   float: right;
}
.key_line {
   font-size: 17px;
   width: 100%;
}
.key_square {
   height: 10px;
   width: 10px;
   outline: solid 1px black;
   float: left;
   margin: 6px 10px 0px 10px;
}
#timeseries {
   float: left;
}
